AssMngSys/AssMngSys/Web References/WebSrv/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="ASSETSRV" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="ASSETSRV" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="ASSETSRV">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAssListXml">
        <s:complexType />
      </s:element>
      <s:element name="GetAssListXmlResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAssListXmlResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEmpListXml">
        <s:complexType />
      </s:element>
      <s:element name="GetEmpListXmlResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEmpListXmlResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExecuteNoQueryTran">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SQLStringList" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ExecuteNoQueryTranResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ExecuteNoQueryTranResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddAssLog">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sTyp" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sDept" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sMan" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sAddr" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sReason" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sCompany" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sUserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="listPid" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddAssLogResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddAssLogResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="sErr" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="GetAssListXmlSoapIn">
    <wsdl:part name="parameters" element="tns:GetAssListXml" />
  </wsdl:message>
  <wsdl:message name="GetAssListXmlSoapOut">
    <wsdl:part name="parameters" element="tns:GetAssListXmlResponse" />
  </wsdl:message>
  <wsdl:message name="GetEmpListXmlSoapIn">
    <wsdl:part name="parameters" element="tns:GetEmpListXml" />
  </wsdl:message>
  <wsdl:message name="GetEmpListXmlSoapOut">
    <wsdl:part name="parameters" element="tns:GetEmpListXmlResponse" />
  </wsdl:message>
  <wsdl:message name="ExecuteNoQueryTranSoapIn">
    <wsdl:part name="parameters" element="tns:ExecuteNoQueryTran" />
  </wsdl:message>
  <wsdl:message name="ExecuteNoQueryTranSoapOut">
    <wsdl:part name="parameters" element="tns:ExecuteNoQueryTranResponse" />
  </wsdl:message>
  <wsdl:message name="AddAssLogSoapIn">
    <wsdl:part name="parameters" element="tns:AddAssLog" />
  </wsdl:message>
  <wsdl:message name="AddAssLogSoapOut">
    <wsdl:part name="parameters" element="tns:AddAssLogResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAssListXml">
      <wsdl:input message="tns:GetAssListXmlSoapIn" />
      <wsdl:output message="tns:GetAssListXmlSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEmpListXml">
      <wsdl:input message="tns:GetEmpListXmlSoapIn" />
      <wsdl:output message="tns:GetEmpListXmlSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ExecuteNoQueryTran">
      <wsdl:input message="tns:ExecuteNoQueryTranSoapIn" />
      <wsdl:output message="tns:ExecuteNoQueryTranSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddAssLog">
      <wsdl:input message="tns:AddAssLogSoapIn" />
      <wsdl:output message="tns:AddAssLogSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="ASSETSRV/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAssListXml">
      <soap:operation soapAction="ASSETSRV/GetAssListXml" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmpListXml">
      <soap:operation soapAction="ASSETSRV/GetEmpListXml" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecuteNoQueryTran">
      <soap:operation soapAction="ASSETSRV/ExecuteNoQueryTran" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddAssLog">
      <soap:operation soapAction="ASSETSRV/AddAssLog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="ASSETSRV/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAssListXml">
      <soap12:operation soapAction="ASSETSRV/GetAssListXml" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmpListXml">
      <soap12:operation soapAction="ASSETSRV/GetEmpListXml" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecuteNoQueryTran">
      <soap12:operation soapAction="ASSETSRV/ExecuteNoQueryTran" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddAssLog">
      <soap12:operation soapAction="ASSETSRV/AddAssLog" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://localhost/AssWebSrv/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://localhost/AssWebSrv/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>